<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<br><br><br><br><br>

<br><br><br><br><br>
<div class="section_our_solution">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="our_solution_category">
        <div class="solution_cards_box sol_card_top_3">
          <div class="solution_card">
            <div class="hover_color_bubble"></div>
            <div class="so_top_icon">
              <img src="../../assets/img/1.png" alt="">
            </div>
            <div class="solu_title">
              <h3>ფინანსური მომსახურება</h3>
            </div>
            <div class="solu_description">
              <a href="javascript:void(0);" class="profile-submit-button-link" (click)="goToFinancialPage()">
                <button type="button" class="read_more_btn">არჩევა</button>
              </a>
            </div>
          </div>
          <div class="solution_card">
            <div class="hover_color_bubble"></div>
            <div class="so_top_icon">
              <img src="../../assets/img/2.png" alt="">
            </div>
            <div class="solu_title">
              <h3>ქველმოქმედება</h3>
            </div>
            <div class="solu_description">
              <a href="javascript:void(0);" class="profile-submit-button-link" (click)="goToCharityPage()">
                <button type="button" class="read_more_btn">არჩევა</button>
              </a>
            </div>
          </div>
        </div>
        <!--  -->
        <div class="solution_cards_box sol_card_top_3">
          <div class="solution_card">
            <div class="hover_color_bubble"></div>
            <div class="so_top_icon">
              <img src="../../assets/img/3.png" alt="">
            </div>
            <div class="solu_title">
              <h3>მობილური</h3>
            </div>
            <div class="solu_description">
              <a href="javascript:void(0);" class="profile-submit-button-link" (click)="goToMobilePage()">
                  <button type="button" class="read_more_btn">არჩევა</button>
              </a>
            </div>
          </div>
          <div class="solution_card">
            <div class="hover_color_bubble"></div>
            <div class="so_top_icon">
              <img src="../../assets/img/4.png" alt="">
            </div>
            <div class="solu_title">
              <h3>კომუნალურები</h3>
            </div>
            <div class="solu_description">
              <a href="javascript:void(0);" class="profile-submit-button-link" (click)="goToUtilityPage()">
                <button type="button" class="read_more_btn">არჩევა</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
